/*@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Permanent+Marker&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+3:wght@200;300;400;500;600;700&family=Source+Sans+Pro:wght@200;300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&family=Permanent+Marker&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+3:wght@200;300;400;500;600;700&family=Source+Sans+Pro:wght@200;300&display=swap');

:root{
    /*Cores Base*/
    --cor1: #DFBD9D;
    --cor2: #9E403F;
    --cor3: #A87536;
    --cor4: #6A5E59;
    --corMain: #ffff00;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('./design/pexels-lukas-618775\ \(0\).jpg');
    background-size: 120%;
    background-position: center;
    background-position-y: -100px;
}

.gradiente-principal{
    background-image: linear-gradient(to top, #161616,#00000000);
    width: 100vw;
    min-height: 100vh; /*Ver isso*/
}

header{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #1616167e;
}

header .borda{
    display: flex;
    padding: 5px 12px;
    border-radius: 80px;
    border: 3px solid var(--corMain);
    align-items: center;
}

header h1{
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    text-shadow: var(--corMain) 2px 2px;
}

header img{
    border-radius: 50%;
    width: 115px;
    margin-right: 15px;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

.info{
    background-color: #dfbd9d7e;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50%;
    color: white;
}

.info h2{
    text-shadow: var(--cor2) 2px 2px 10px;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a8753680;
    padding: 10px;
    color: white;
    margin-right: 20px;
    border-radius: 20px;
    width: 40%;
}

.formulario > h3{
    text-align: center;
}

.formulario > label {
    display: flex;
}

.formulario svg {
    width: 40px;
}

label > input {
    margin: 5px;
    flex-grow: 1;
    border-radius: 5px;
    border: 2px solid var(--cor3);
    background-color: #ffffff79;
    font-size: 0.8em;
    color: var(--cor2);
}

label > input:focus{
    /* border: 2px solid var(--cor2); */
    background-color: #ffffffd5;
    color: var(--cor2);
    outline: 0;
}

.formulario > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    margin: 5px auto;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 0.8em;
    background-color: yellowgreen;
    color: white;
    border: 2px solid white;
}

.formulario > button:hover{
    background-color: rgb(123, 165, 40);
    cursor: pointer;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: #9e413f7e; */
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
    padding: 20px;
}

footer nav{
    position: relative;
}

footer nav > ul {
    display: flex;
    list-style: none;
}

footer nav > ul > li > img {
    width: 40px;
}

footer nav > ul > li {
    margin: 0px 7px;
}

footer small{
    text-align: center;
    font-size: 0.7em;
    margin-top: 20px;
}

footer small p:nth-child(2) {
    color: slategrey;
}

footer nav::after{
    content: '';
    width: 162px;
    border-bottom: white 2px solid;
    position: absolute;
    left: 0px;
    top: 53px;
}

.input-invalido{
    background-color: #dc143c81;
    color: #ff7d7d;
    outline: 1px #ffa500 solid;
}

.mensagemErro{
    display: block;
    color: white;
    font-size: 0.5em;
    text-align: center;
    -webkit-text-stroke-color: #ff7d7d;
    -webkit-text-stroke-width: 0.5px;
    margin-right: 5px;
    width: 81%; 
    align-self: flex-end;
}

.fundo-mensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000007e;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.pop-up-mensagem{
    background-color: #DFBD9D;
    text-align: center;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    overflow: hidden;
    border: 3px black solid;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
}

.pop-up-mensagem > p.titulo{
    background-color: #9E403F;
    color: white;
    padding: 10px;
}

.pop-up-mensagem > p:not(.titulo){
    margin-top: 10px;
    padding: 5px;
}